{% extends "base.html" %}

{% block title%}
Смена пароля
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-4">Смена пароля</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}  
        <div class="container">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Старый пароль:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">{{form.old_password}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Новый пароль</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">{{form.new_password1}}</div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Подтверждение нового пароля</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">{{form.new_password2}}</div>
                    </div>
                    <hr>
                    
                    {% if form.errors %}
                    <div class="checkbox mb-3 error-list">
                        <label class="error-list">
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}
                        {{form.non_field_errors}}
                        </label>
                    </div>                    
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="btn btn-info" type="submit">Сменить пароль</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}